.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;

  &__copyright {
    font-size: 1.4rem;
    color: #aaa;
    text-align: center;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }
}
.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;

  &__item {
    padding: 1.5rem;
    cursor: pointer;
    list-style: none;
    transition: all 0.2s;
    text-align: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-0.5rem);
    }
  }

  &__link:link,
  &__link:visited {
    font-family: $font-display;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}
